@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body {
  font-family: 'Roboto', sans-serif;
  margin: 50px auto;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
  width: 60vh;
  max-height: 100vh;
}
.active{
  border-bottom: 4px solid rgb(79, 144, 241);
}
